body {
    display: grid;
    height: 100vh;
    grid-template: auto 2fr 1fr / auto auto;
}

header {
    background-color: gray;
    grid-column: 1/3;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 1.5rem;
}

nav a {
    color: white;
    font-size: 1rem;
}

main {
    background-color: lightgray;
    padding: 2rem;
}

aside {
    background-color: darkgray;
    padding: 2rem;
}

footer {
    background-color: gray;
    grid-column: 1/3;
    text-align: center;
    padding: 1rem;
}