* {
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3, span {
    font-family: "Oswald", sans-serif;
}

img {
    max-width: 200px;
}

header span {
    display: block;
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #42706f;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: darkgoldenrod;
    font-size: 1.5rem;
}

nav a {
    color: black;
}

nav a:hover {
    color: purple;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;
    grid-column: 1/3;
    font-size: 2rem;
    padding: 10px;
}

.card-a {
    grid-column: 1;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
}

.card-a h2 {
    grid-column: 1/3;
    color: white;
    background-color: #42706f;
    padding: 10px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.my-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.my-info h2 {
    text-align: center;
}

.my-info img {
    padding: 10px;
}

.my-info p {
    padding: 10px;
    font-size: 1.2rem;
}

.country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}

.country h3 {
    text-align: center;
    grid-column: 1/3;
}

.country img {
    margin: 0 auto;
    padding: 10px;
}

.country p {
    padding: 10px;
    font-size: 1.2rem;
}

.card-b {
    grid-column: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
}

.card-b h2 {
    padding: 10px;
    color: white;
    background-color: #42706f;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.card-b a:hover {
    border: 1px solid black;
}

footer {
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #42706f;
    color: white;
}