*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

header {
    background-color: midnightblue;
    color: white;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    box-shadow: 0 0 30px #333;
}

header, main {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    display: none;
}   

nav.open {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline;
    background-color: yellowgreen;
    color: black;
}

.active {
    color: darkorange;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "✖";
}

main {
    max-width: 740px;
    align-items: center;
    text-align: center;
}

main img {
    max-width: 80%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
}

footer {
    background-color: midnightblue;
    text-align: center;
    padding: 1rem;
    color: white;
}


